<!DOCTYPE html>
<html>
<head>
	<title>关于中润图片列表</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<!-- 所有的 css & js 资源 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="../../css/sa.css">
	<script src="../../js/vue.min.js"></script>
	<script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
	<script src="../../js/jquery.min.js"></script>
	<script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
	<script src="../../js/sa.js"></script>
</head>
<body>
<!--防止margin向下击穿-->
<div style="margin-top: -1em;"><br></div>
<div class="vue-box" style="display: none;" :style="'display: block;'">
	<div class="c-panel">
		<b>{{info}}</b>
		<!-- 参数栏 -->
		<div class="c-title">图片列表</div>
		<!--<el-table :data="msg" size="mini">
			<el-table-column label="编号" prop="id" width="70px" > </el-table-column>
			<el-table-column label="昵称" prop="username" width="200px">
				<template slot-scope="s">
					<img :src="s.row.avatar" @click="sa.showImage(s.row.avatar, '400px', '400px')"
						 style="width: 3em; height: 3em; float: left; margin-right: 1em; border-radius: 50%; cursor: pointer;" >
					<div style="float: left; width: 130px; line-height: 20px;">
						<b>{{msg.id}}</b>
						<p>{{msg.module}}</p>
					</div>
				</template>
			</el-table-column>-->
			<!--<el-table-column label="个人相册">
				<template slot-scope="s">
					<img :src="s.row.photo_list[0]" style="width: 40px; height: 40px; cursor: pointer;" @click="sa.showImageList(s.row.photo_list)" >
					共{{s.row.photo_list.length}}张, 点击预览
				</template>
			</el-table-column>
			<el-table-column label="性别" prop="sex"> </el-table-column>
			<el-table-column label="注册方式" prop="create_type"></el-table-column>
			<el-table-column label="注册于" prop="create_time"></el-table-column>
			<el-table-column label="状态">
				<template slot-scope="s">
					<el-switch v-model="s.row.status" :active-value="1" :inactive-value="2" inactive-color="#ff4949"></el-switch>
					<b style="color: green;" v-if="s.row.status == 1">正常</b>
					<b style="color: red;" v-if="s.row.status == 2">禁用</b>
				</template>
			</el-table-column>
			<el-table-column prop="address" label="操作">
				<template slot-scope="s">
					<el-button class="c-btn" type="success"  icon="el-icon-view" @click="get(s.row)">详情</el-button>
					<el-button class="c-btn" type="danger" icon="el-icon-delete" @click="del(s.row)">删除</el-button>
				</template>
			</el-table-column>
		</el-table>-->
		<!-- 分页 -->
		<!--<div class="page-box">
			<el-pagination background
						   layout="total, prev, pager, next, sizes, jumper"
						   :current-page.sync="p.pageNo"
						   :page-size.sync="p.pageSize"
						   :total="dataCount"
						   :page-sizes="[1, 10, 20, 30, 40, 50, 100]"
						   @current-change="f5(true)"
						   @size-change="f5(true)">
			</el-pagination>
		</div>-->
	</div>
</div>
</div>
<script src="../../js/user/data-list.js"></script>
<script type="text/javascript">
	$(function(){
		//定义一个可变路径的变量去接收接口，以便后期更改
		var AbUrl = "127.0.0.1:9000";
		var vm = new Vue({
			el: '.c-panel',
			data () {
				return {
					info: null
				}
			},
			methods() {
				axios
				.get(AbUrl+'/test')
				.then(response => (this.info = response))
				.catch(function (error) { // 请求失败处理
					console.log(error);
				});
			}
		/*	methods: {
				get: function() {
					let param = new FormData() // 创建form对象
					param.append('module', "AboutZR") // 通过append向form对象添加数据
					//console.log(ids)
					this.$http.get(AbUrl+"/test",{
					// this.$http.get(AbUrl+"/api/resource/queryResourcesByModule", param,{ //index/recsupply
						emulateJSON: true
					}).then(function(res) {
						alert(res);
						var data = res.data;
						//console.log(data)
						var List =data.data;
						this.msg = List;
						console.log(List);
					}, function() {
						console.log('请求失败处理');
					});
				}
			}*/
		});
	})
</script>
</body>
</html>
