<!DOCTYPE html>
<html>

<head>
<title>修改公司地址</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<!-- 所有的 css & js 资源 -->
<link rel="stylesheet"
	href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
<link rel="stylesheet" href="../../css/admin/sa.css">
<link rel="stylesheet"
	href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="../../js/vue.min.js"></script>
<!--	<script src="../../js/list.js"></script>-->
<script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
<script src="../../js/jquery.min.js"></script>
<script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
<script src="../../js/sa.js"></script>
<script src="../../js/layer.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<meta http-equiv="Content-Type"
	content="multipart/form-data; charset=utf-8" />
<style>
.update {
	height: 200px;
	width: 200px;
	background: red;
}
</style>
</head>

<body>
	<!-- 防止margin向下击穿 -->
	<div style="margin-top: -1em;">
		<br>
	</div>
	<div class="vue-box" style="display: none;" :style="'display: block;'"id="test">
		<div class="c-panel">
			<div class="c-title">数据列表</div>
			<el-form :label-position="labelPosition" label-width="120px" :model="formLabelAlign" id ="form">
					<el-input type="hidden" v-model="formLabelAlign.id"></el-input>
				<el-form-item label="SEO中文标题" >
					<el-input v-model="formLabelAlign.titleCn" type="textarea" autosize  placeholder=""></el-input>
				</el-form-item>
				<el-form-item label="SEO英文标题">
					<el-input v-model="formLabelAlign.titleEn" type="textarea" autosize placeholder=""></el-input>
				</el-form-item>
				<el-form-item label="SEO中文关键字">
					<el-input v-model="formLabelAlign.keywordsCn" type="textarea" autosize placeholder="多个关键字请用英文逗号分隔！！！"></el-input>
				</el-form-item>
				<el-form-item label="SEO英文关键字">
					<el-input v-model="formLabelAlign.keywordsEn" type="textarea" autosize placeholder="多个关键字请用英文逗号分隔！！！"></el-input>
				</el-form-item>
				<el-form-item label="SEO中文描述">
					<el-input v-model="formLabelAlign.descriptionCn" type="textarea" autosize></el-input>
				</el-form-item>
				<el-form-item label="SEO英文描述">
					<el-input v-model="formLabelAlign.descriptionEn" type="textarea" autosize></el-input>
				</el-form-item>
				<el-form-item>
					<el-button type="primary" @click="put()">立即修改</el-button>
				</el-form-item>
			</el-form>
		</div>
	</div>
	<script src="../../js/user/data-list.js"></script>
	<script type="text/javascript">
		var app = new Vue(
				{
					el : '.vue-box',
					data : {
						formLabelAlign: {
							id:'',
                            titleCn:'',
                            titleEn:'',
                            keywordsCn:'',
                            keywordsEn:'',
                            descriptionCn:'',
                            descriptionEn:''
						},
						//表单右对齐
						labelPosition: 'right',
                        url: "/img/"
					},
					methods : {
						// 数据刷新
						f5 : function() {
							var that = this;
							$.ajax({
								type : "POST",
								url : "/api/seo/findAll",
								dataType : "json",
								async : false,
								success : function(res) {
									that.formLabelAlign.id = res[0].id;
									that.formLabelAlign.titleCn = res[0].titleCn;
									that.formLabelAlign.titleEn = res[0].titleEn;
									that.formLabelAlign.keywordsCn = res[0].keywordsCn;
									that.formLabelAlign.keywordsEn = res[0].keywordsEn;
                                    that.formLabelAlign.descriptionCn = res[0].descriptionCn;
                                    that.formLabelAlign.descriptionEn = res[0].descriptionEn;
								}
							})
						},
						put : function() {
							var than = this;
							layer.msg('确定要修改吗？', {
								time : 0, //不自动关闭
								btn : [ '确定', '我在想想。' ],
								yes : function(index) {
									layer.close(index);
                                    var formdata = new FormData();
									formdata.append("id",than.formLabelAlign.id);
									formdata.append("titleCn",than.formLabelAlign.titleCn);
									formdata.append("titleEn",than.formLabelAlign.titleEn);
									formdata.append("keywordsCn",than.formLabelAlign.keywordsCn);
									formdata.append("keywordsEn",than.formLabelAlign.keywordsEn);
                                    formdata.append("descriptionCn" , than.formLabelAlign.descriptionCn);
                                    formdata.append("descriptionEn" , than.formLabelAlign.descriptionEn);
                                    var s = {
                                        "id": than.formLabelAlign.id ,
                                        "titleCn": than.formLabelAlign.titleCn ,
                                        "titleEn": than.formLabelAlign.titleEn ,
                                        "keywordsCn":  than.formLabelAlign.keywordsCn ,
                                        "keywordsEn":  than.formLabelAlign.keywordsEn ,
                                        "descriptionCn":  than.formLabelAlign.descriptionCn ,
                                        "descriptionEn":  than.formLabelAlign.descriptionEn
                                    };
									$.ajax({
										type : "POST",
										url : "/api/seo/updateSeo",
										processData : false,
										contentType : false,
										data : formdata,
										success : function(data) {
										    console.log(data)
											if (data) {
												sa.ok("修改成功");
                                                setTimeout("location.reload()",2000);
											} else {
												sa.error("修改失败,请稍后重试！")
											}
										}
									}).done(function() {
									});
								}
							});
						},
						createFile : function(id){
						    var data_val = this;
                            var formdata = new FormData();
                            var fileName =document.getElementById("urlCn").value;
                            var suffixIndex = fileName.lastIndexOf(".");
                            var suffix = fileName.substring(suffixIndex+1).toUpperCase();
                            var fileName1 = document.getElementById("urlEn").value;
                            var suffixIndex1 = fileName1.lastIndexOf(".");
                            var suffix1 = fileName1.substring(suffixIndex1+1).toUpperCase();
                            var fileName2=document.getElementById("weChatUrlCn").value;
                            var suffixIndex2=fileName2.lastIndexOf(".");
                            var suffix2=fileName2.substring(suffixIndex2+1).toUpperCase();
                            var fileName3=document.getElementById("weChatUrlEn").value;
                            var suffixIndex3=fileName3.lastIndexOf(".");
                            var suffix3=fileName3.substring(suffixIndex3+1).toUpperCase();
                            if(suffix!="BMP"&&suffix!="JPG"&&suffix!="JPEG"&&suffix!="PNG"&&suffix!="GIF"&&suffix!="") {
                                sa.error('请上传图片（格式BMP、JPG、JPEG、PNG、GIF等）!');
                            }else if(suffix1!="BMP"&&suffix1!="JPG"&&suffix1!="JPEG"&&suffix1!="PNG"&&suffix1!="GIF"&&suffix1!="") {
                                sa.error('请上传图片（格式BMP、JPG、JPEG、PNG、GIF等）!');
                            }else if(suffix2!="BMP"&&suffix2!="JPG"&&suffix2!="JPEG"&&suffix2!="PNG"&&suffix2!="GIF"&&suffix2!="") {
                                sa.error('请上传图片（格式BMP、JPG、JPEG、PNG、GIF等）!');
                            }else if(suffix3!="BMP"&&suffix3!="JPG"&&suffix3!="JPEG"&&suffix3!="PNG"&&suffix3!="GIF"&&suffix3!="") {
                                sa.error('请上传图片（格式BMP、JPG、JPEG、PNG、GIF等）!');
                            }else{
                                formdata.append("file", $("#"+id)[0].files[0]);
                                $.ajax({
                                    type : "POST",
                                    url : "/api/contactUs/create/file",
                                    processData : false,
                                    contentType : false,
                                    data : formdata,
                                    success : function(data) {
                                        switch (id) {
                                            case "urlCn":
                                                data_val.formLabelAlign.urlCn = data
                                                break;
                                            case "urlEn":
                                                data_val.formLabelAlign.urlEn = data
                                                break;
                                            case "weChatUrlCn":
                                                data_val.formLabelAlign.weChatUrlCn = data
                                                break;
                                            case "weChatUrlEn":
                                                data_val.formLabelAlign.weChatUrlEn = data
                                                break;
                                            default:
                                                break;
                                        }}
                                }).done(function() {

                                });
							}

                        },
                        addPic : function() {
                            console.log("可以进来")
                        }
					},

					created : function() {
						this.f5();
					}
				})
	</script>
</body>
</html>