<!DOCTYPE html>
<html>

<head>
<title>修改公司地址</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<!-- 所有的 css & js 资源 -->
<link rel="stylesheet"
	href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
<link rel="stylesheet" href="../../css/admin/sa.css">
<link rel="stylesheet"
	href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="../../js/vue.min.js"></script>
<!--	<script src="../../js/list.js"></script>-->
<script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
<script src="../../js/jquery.min.js"></script>
<script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
<script src="../../js/sa.js"></script>
<script src="../../js/layer.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<meta http-equiv="Content-Type"
	content="multipart/form-data; charset=utf-8" />
<style>
.update {
	height: 200px;
	width: 200px;
	background: red;
}
</style>
</head>

<body>
	<!-- 防止margin向下击穿 -->
	<div style="margin-top: -1em;">
		<br>
	</div>
	<div class="vue-box" style="display: none;" :style="'display: block;'"id="test">
		<div class="c-panel">
			<div class="c-title">数据列表</div>
			<el-form :label-position="labelPosition" label-width="120px" :model="formLabelAlign" id ="form">
					<el-input type="hidden" v-model="formLabelAlign.id"></el-input>
				<el-form-item label="中文公司名称" >
					<el-input v-model="formLabelAlign.companyCn" type="textarea" autosize></el-input>
				</el-form-item>
				<el-form-item label="英文公司名称">
					<el-input v-model="formLabelAlign.companyEn" type="textarea" autosize></el-input>
				</el-form-item>
				<el-form-item label="中文公司地址">
					<el-input v-model="formLabelAlign.addressCn" type="textarea" autosize></el-input>
				</el-form-item>
				<el-form-item label="英文公司地址">
					<el-input v-model="formLabelAlign.addressEn" type="textarea" autosize></el-input>
				</el-form-item>
				<el-form-item label="中文负责人">
					<el-input v-model="formLabelAlign.nameCn" type="textarea" autosize></el-input>
				</el-form-item>
				<el-form-item label="英文负责人">
					<el-input v-model="formLabelAlign.nameEn" type="textarea" autosize></el-input>
				</el-form-item>
				<el-form-item label="中文公司电话">
					<el-input v-model="formLabelAlign.phoneCn" type="textarea" autosize></el-input>
				</el-form-item>
				<el-form-item label="英文公司电话">
					<el-input v-model="formLabelAlign.phoneEn" type="textarea" autosize></el-input>
				</el-form-item>
				<el-form-item label="中文公司手机">
					<el-input v-model="formLabelAlign.cellPhoneCn" type="textarea" autosize></el-input>
				</el-form-item>
				<el-form-item label="英文公司手机">
					<el-input v-model="formLabelAlign.cellPhoneEn" type="textarea" autosize></el-input>
				</el-form-item>
				<el-form-item label="中文公司传真">
					<el-input v-model="formLabelAlign.faxCn" type="textarea" autosize></el-input>
				</el-form-item>
				<el-form-item label="英文公司传真">
					<el-input v-model="formLabelAlign.faxEn" type="textarea" autosize></el-input>
				</el-form-item>
				<el-form-item label="中文公司邮箱">
					<el-input v-model="formLabelAlign.mailboxCn" type="textarea" autosize></el-input>
				</el-form-item>
				<el-form-item label="英文公司邮箱">
					<el-input v-model="formLabelAlign.mailboxEn" type="textarea" autosize></el-input>
				</el-form-item>
                <el-form-item label="中文微信">
					<img :src="url + formLabelAlign.urlCn" style="width: 100px; height: 100px;margin-left:36px">
					<input type="file" id="urlCn" name="urlCn" style="margin-left: 20px;" @change="createFile('urlCn')">
                </el-form-item>
				<el-form-item label="英文微信" STYLE="margin-left:600px;margin-top: -137px">
					<img :src="url + formLabelAlign.urlEn" style="width: 100px; height: 100px;margin-left:36px">
					<input type="file" id="urlEn" name="urlEn" style="margin-left: 20px;" @change="createFile('urlEn')">
				</el-form-item>
				<el-form-item label="中文公众号" STYLE="margin-left:12px;">
					<img :src="url + formLabelAlign.weChatUrlCn" style="width: 100px; height: 100px;margin-left:23px">
					<input type="file" id="weChatUrlCn" name="weChatUrlCn" style="margin-left: 20px;" @change="createFile('weChatUrlCn')">
				</el-form-item>
				<el-form-item label="英文公众号" STYLE="margin-left:600px;margin-top: -137px">
					<img :src="url + formLabelAlign.weChatUrlEn" style="width: 100px; height: 100px;margin-left:36px">
					<input type="file" id="weChatUrlEn" name="weChatUrlEn" style="margin-left: 20px;" @change="createFile('weChatUrlEn')">
				</el-form-item>
				<el-form-item>
					<el-button type="primary" @click="put()">立即修改</el-button>
				</el-form-item>
			</el-form>
		</div>
	</div>
	<script src="../../js/user/data-list.js"></script>
	<script type="text/javascript">
		var app = new Vue(
				{
					el : '.vue-box',
					data : {
						formLabelAlign: {
							id:'',
							companyEn:'',
							companyCn:'',
							addressEn:'',
							addressCn:'',
                            nameCn:'',
                            nameEn:'',
							phoneCn:'',
							phoneEn:'',
							cellPhoneCn: '',
							cellPhoneEn: '',
							faxCn: '',
							faxEn: '',
							mailboxCn: '',
							mailboxEn: '',
                            urlCn:'',
                            urlEn:'',
                            weChatUrlCn:'',
                            weChatUrlEn:''
						},
						//表单右对齐
						labelPosition: 'right',
                        url: "/img/"
					},
					methods : {
						// 数据刷新
						f5 : function() {
							var that = this;
							$.ajax({
								type : "POST",
								url : "/api/contactUs/enquiriesContactUsForInformation",
								dataType : "json",
								async : false,
								success : function(res) {
									that.formLabelAlign.id = res[0].id;
									that.formLabelAlign.companyEn = res[0].companyEn;
									that.formLabelAlign.companyCn = res[0].companyCn;
									that.formLabelAlign.addressEn = res[0].addressEn;
									that.formLabelAlign.addressCn = res[0].addressCn;
                                    that.formLabelAlign.nameCn = res[0].nameCn;
                                    that.formLabelAlign.nameEn = res[0].nameEn;
									that.formLabelAlign.phoneCn = res[0].phoneCn;
									that.formLabelAlign.phoneEn = res[0].phoneEn;
									that.formLabelAlign.cellPhoneCn = res[0].cellPhoneCn;
									that.formLabelAlign.cellPhoneEn = res[0].cellPhoneEn;
									that.formLabelAlign.faxCn = res[0].faxCn;
									that.formLabelAlign.faxEn = res[0].faxEn;
									that.formLabelAlign.mailboxCn = res[0].mailboxCn;
									that.formLabelAlign.mailboxEn = res[0].mailboxEn;
									that.formLabelAlign.urlCn = res[0].urlCn;
									that.formLabelAlign.urlEn = res[0].urlEn;
									that.formLabelAlign.weChatUrlCn = res[0].weChatUrlCn;
									that.formLabelAlign.weChatUrlEn = res[0].weChatUrlEn;
								}
							})
						},
						put : function() {
							var than = this;
							layer.msg('确定要修改吗？', {
								time : 0, //不自动关闭
								btn : [ '确定', '我在想想。' ],
								yes : function(index) {
									layer.close(index);
                                    var formdata = new FormData();
									formdata.append("id",than.formLabelAlign.id);
									formdata.append("companyCn",than.formLabelAlign.companyCn);
									formdata.append("companyEn",than.formLabelAlign.companyEn);
									formdata.append("addressCn",than.formLabelAlign.addressCn);
									formdata.append("addressEn",than.formLabelAlign.addressEn);
                                    formdata.append("nameCn" , than.formLabelAlign.nameCn);
                                    formdata.append("nameEn" , than.formLabelAlign.nameEn);
									formdata.append("phoneCn",than.formLabelAlign.phoneCn);
									formdata.append("phoneEn",than.formLabelAlign.phoneEn);
									formdata.append("cellPhoneCn",than.formLabelAlign.cellPhoneCn);
									formdata.append("cellPhoneEn",than.formLabelAlign.cellPhoneEn);
									formdata.append("faxCn",than.formLabelAlign.faxCn);
									formdata.append("faxEn",than.formLabelAlign.faxEn);
									formdata.append("mailboxCn",than.formLabelAlign.mailboxCn);
									formdata.append("mailboxEn",than.formLabelAlign.mailboxEn);
                                    formdata.append("urlCn",than.formLabelAlign.urlCn);
                                    formdata.append("urlEn",than.formLabelAlign.urlEn);
                                    formdata.append("weChatUrlCn",than.formLabelAlign.weChatUrlCn);
                                    formdata.append("weChatUrlEn",than.formLabelAlign.weChatUrlEn);
									$.ajax({
										type : "POST",
										url : "/api/contactUs/modifyContactUsForInformation",
										processData : false,
										contentType : false,
										data : formdata,
										success : function(data) {
											if (data) {
												sa.ok('修改成功!');
                                                window.location.reload()
											} else {
												sa.error("修改失败,请稍后重试！")
											}
										}
									}).done(function() {
									});
								}
							});
						},
						createFile : function(id){
						    var data_val = this;
                            var formdata = new FormData();
                            var fileName =document.getElementById("urlCn").value;
                            var suffixIndex = fileName.lastIndexOf(".");
                            var suffix = fileName.substring(suffixIndex+1).toUpperCase();
                            var fileName1 = document.getElementById("urlEn").value;
                            var suffixIndex1 = fileName1.lastIndexOf(".");
                            var suffix1 = fileName1.substring(suffixIndex1+1).toUpperCase();
                            var fileName2=document.getElementById("weChatUrlCn").value;
                            var suffixIndex2=fileName2.lastIndexOf(".");
                            var suffix2=fileName2.substring(suffixIndex2+1).toUpperCase();
                            var fileName3=document.getElementById("weChatUrlEn").value;
                            var suffixIndex3=fileName3.lastIndexOf(".");
                            var suffix3=fileName3.substring(suffixIndex3+1).toUpperCase();
                            if(suffix!="BMP"&&suffix!="JPG"&&suffix!="JPEG"&&suffix!="PNG"&&suffix!="GIF"&&suffix!="") {
                                sa.error('请上传图片（格式BMP、JPG、JPEG、PNG、GIF等）!');
                            }else if(suffix1!="BMP"&&suffix1!="JPG"&&suffix1!="JPEG"&&suffix1!="PNG"&&suffix1!="GIF"&&suffix1!="") {
                                sa.error('请上传图片（格式BMP、JPG、JPEG、PNG、GIF等）!');
                            }else if(suffix2!="BMP"&&suffix2!="JPG"&&suffix2!="JPEG"&&suffix2!="PNG"&&suffix2!="GIF"&&suffix2!="") {
                                sa.error('请上传图片（格式BMP、JPG、JPEG、PNG、GIF等）!');
                            }else if(suffix3!="BMP"&&suffix3!="JPG"&&suffix3!="JPEG"&&suffix3!="PNG"&&suffix3!="GIF"&&suffix3!="") {
                                sa.error('请上传图片（格式BMP、JPG、JPEG、PNG、GIF等）!');
                            }else{
                                formdata.append("file", $("#"+id)[0].files[0]);
                                $.ajax({
                                    type : "POST",
                                    url : "/api/contactUs/create/file",
                                    processData : false,
                                    contentType : false,
                                    data : formdata,
                                    success : function(data) {
                                        switch (id) {
                                            case "urlCn":
                                                data_val.formLabelAlign.urlCn = data
                                                break;
                                            case "urlEn":
                                                data_val.formLabelAlign.urlEn = data
                                                break;
                                            case "weChatUrlCn":
                                                data_val.formLabelAlign.weChatUrlCn = data
                                                break;
                                            case "weChatUrlEn":
                                                data_val.formLabelAlign.weChatUrlEn = data
                                                break;
                                            default:
                                                break;
                                        }}
                                }).done(function() {

                                });
							}

                        },
                        addPic : function() {
                            console.log("可以进来")
                        }
					},

					created : function() {
						this.f5();
					}
				})
	</script>
</body>
</html>