<!DOCTYPE html>
<html>
<head>
    <title>在线咨询</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <!-- 所有的 css & js 资源 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../../css/admin/sa.css">
    <script src="../../js/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
    <!--<script src="../../js/sa.js"></script>-->
</head>
<body>
<!-- 防止margin向下击穿 -->
<div style="margin-top: -1em;"><br></div>
<div id="app" class="vue-box" style="display: none;" :style="'display: block;'">
    <div class="c-panel">
        <!-- 参数栏 -->
        <el-table :data="dataList" size="mini">
            <el-table-column label="编号" prop="id" v-if="show"></el-table-column>
            <el-table-column label="姓名" prop="name"></el-table-column>
            <el-table-column label="手机" prop="phone"></el-table-column>
            <el-table-column label="邮箱" prop="mailbox"></el-table-column>
            <el-table-column label="地址" prop="address"></el-table-column>
            <el-table-column label="内容" prop="content"></el-table-column>
            <el-table-column label="状态" prop="status">
                <template slot-scope="{row:{status}}">
                    <span v-if="status === 0">处理</span>
                    <span v-else-if="status === 1">待处理</span>
                </template>
            </el-table-column>
            <el-table-column label="咨询时间" prop="creationTime" :formatter="dateFormat"></el-table-column>
            <el-table-column label="处理时间" prop="modificationTime" :formatter="dateFormat"></el-table-column>
            <el-table-column prop="" label="操作">
                <template slot-scope="s">
                    <el-button class="c-btn" v-if="s.row.status===0" type="success" icon="el-icon-view" style="cursor: not-allowed;
 color: #746767;">处理</el-button>
                    <el-button class="c-btn" v-if="s.row.status===1" type="success" icon="el-icon-view" @click="update(s.row)">处理</el-button>
                    <!--<el-button class="c-btn" type="danger" icon="el-icon-delete" @click="del(s.row)">删除</el-button>-->
                </template>
            </el-table-column>
        </el-table>
        <div class="block">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="page"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="size"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="totalElements">
            </el-pagination>
        </div>
    </div>
</div>
<script type="text/javascript">
    var Main = new Vue({
        el: "#app",
        data: {
            show:false,
            dataList: [],
            page: 1,
            size:10,
            totalElements:""
        },
        methods: {
            getDataList() {
                this.dataList=[];
                $.ajax({
                    url: "/api/afterSale/queryAfterSale",
                    type: "post",
                    data: {"page":this.page,"size":this.size},
                    // contentType: "application/json;charset=UTF-8",
                    dataType: 'json',
                    success: (msg) => {
                        for (var i = 0; i < msg.content.length; i++) {
                            this.dataList.push(msg.content[i])
                        }
                        this.totalElements = msg.totalElements;
                        console.log(this.dataList);
                    }
                })
            },
            update(data){
                 var date = data.creationTime.substring(0,23)+"Z";
                console.log(date)
                var object = {"id":data.id,"name":data.name,"phone":data.phone,"mailbox":data.mailbox,
                    "address":data.address,"content":data.content,
                    "status":data.status,"creationTime":date}
                $.ajax({
                    url: "/api/afterSale/modificationAfterSale",
                    type: "post",
                    data: JSON.stringify(object),
                    contentType: "application/json;charset=UTF-8",//指定消息请求类型
                    dataType: 'json',
                    success: (msg) => {
                        console.log(msg);
                        if(msg == true){
                            this.getDataList();
                        }
                    }
                })
            },
            handleSizeChange(val) {
                this.size = val;
                this.getDataList();
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                this.page = val;
                this.getDataList();
                console.log(`当前页: ${val}`);
            },
            //时间格式化
            dateFormat:function(row, column) {
                if(row[column.property] == null){
                    return "";
                }
                const date = new Date(row[column.property])
                return date.getFullYear() + '/' +
                    date.getMonth() + '/' +
                    date.getDate() + '/ ' +
                    date.getHours() + ':' +
                    date.getMinutes()+':'+
                    date.getSeconds()
            }
        },
        mounted() {
            this.getDataList();
        }
    })
</script>
</body>
</html>
